<div class="editPost">
  <hr>
  <h1>edit blog post titled : {{title}}</h1>
  {{textarea value=title class='editTitle'}}
  <br>
  {{textarea value=body class='editBody'}}
  <br>
  <button {{action 'editPost' this}}>Save Post</button>

</div>
{{outlet}}
